@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

// header

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #747474;
  padding: 0.5rem 1rem;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo a {
  color: #EBEBEB;
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: middle;
  text-decoration: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 0.3rem;
}

.main-nav__item a {
  text-decoration: none;
  color: #EBEBEB;
  font-weight: bold;
  padding: 0.2rem 0;
}

.quiz-index-page {
  padding: 3rem;
}

//category panel

.categories {
  top: 2.5rem;
  padding: 0 1rem;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

.category-item {
  list-style: none;
  padding: 1rem 1.5rem;
}

.category-item a {
  color: #747474;
  text-decoration: none;
  font-weight: bold;
}

.subtitle {
  margin-top:4rem;
  padding-bottom: 10px;
  color: #C1C1B9;
}

.button__add-quiz {
  background: #747474;
  font: inherit;
  border: 1.5px solid #747490;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button__add-quiz a {
    color: #EBEBEB;
  text-decoration: none;
  font-weight: bold;
}

//card styling

.quiz-card {
  background-color: #fefefe;
  grid-auto-rows: 1fr;
  display: inline-block;
  max-height: 13rem;
  max-width: 28rem;
}

.quiz-card-thumbnail {
  display: block;
}

.quiz-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.quiz-card-desc {
  color: #8a8a8a;
  display: block;
  font-size: 1rem;
}

.title-show{
  text-align: left;
}

.quiz-show {
  background-color: #fefefe;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-auto-rows: 1fr;
  display: inline-block;
  min-width: 50rem;
  float: left;
  text-align: left;
  padding: 1rem 5rem 3rem 3rem;
}

.pagination-centered{
  font-family: Optima, Helvetica, sans-serif;
  padding: 1rem 0rem 2rem 0rem;
  align: bottom;
}

.panel {
  text-align: left;
  background-color: #747474;
  margin: 160px;
  margin-top: 50px;
}

.question-tile {
  cursor: pointer;
  height: 400px;
  width: 400px;
  perspective: 800px;
  position: absolute;
  margin: auto;
  transition: all 1s ease-in-out;
}

.question {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px solid #300;
  transform-style: preserve-3d;
  transition: ease-in-out;
  font-size: 2.3em;
  border-radius: 10px;
  background-color: #8a8a8a;
}

.question:hover {
  transform: rotateY(180deg);
}

.question .front {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  transition: all 2s ease-in-out;
  overflow: hidden;
  text-align: center;
  padding-top: 30%;
  background-color: #8a8a8a;
}

.question .back {
  position: relative;
  text-align: center;
  padding-top: 30%;
  transform: rotateY(180deg);
}

.question-row {
  margin-top: 10%;
  padding: 5px;
}

.button-row {
  padding: 5px;
  position: absolute;
  top: 85%;
  left: 15%;
}

//footer

.main-footer{
  background: #747474;
  padding: 0.5rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link a {
  color: #EBEBEB;
  text-decoration: none;
}
